* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
}

.bookContainer {
    float: left;
    margin: 5px;
    outline: 1px solid #aaa;
    width: 350px;
    height: 133px;
    padding: 10px;
    background: #fff;
}

.bookContainer img {
    float: left;
    margin-right: 10px;
}

.bookContainer ul {
    list-style: none;
}

.bookContainer .delete {
    float: right;
}